<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
mapper 用于定义一个映射配置文件的根节点
namespace属性是用来配置命名空间，主要进行session级别的缓存管理
命名空间默认情况下，使用当前操作的实体类的全路径
-->
<mapper namespace="com.imooc.study.dao.CanvasDao">

    <sql id="selectCanvas">
        id,name,category,price,createTime,updateTime,description,creator,details,smallImg
    </sql>

    <select id="findCanvas" resultType="com.imooc.study.entity.Canvas">
        SELECT <include refid="selectCanvas"></include> FROM canvas LIMIT #{skip}, #{size}
    </select>

    <select id="findCanvasByCategory" resultType="com.imooc.study.entity.Canvas">
        SELECT <include refid="selectCanvas"></include> FROM canvas WHERE category = #{category} LIMIT #{skip}, #{size}
    </select>

    <select id="findCanvasById" resultType="com.imooc.study.entity.Canvas">
        SELECT <include refid="selectCanvas"></include> FROM canvas WHERE id = #{id}
    </select>

    <select id="findImg" resultType="com.imooc.study.entity.Canvas">
        SELECT smallImg FROM canvas WHERE id = #{id} for update
    </select>

    <select id="countCanvas" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM canvas
        <if test="category != null">WHERE category = #{category}</if>
    </select>

    <update id="updateCanvas">
        UPDATE canvas
        <set>
            <if test="canvas.name != null and canvas.name != ''">name = #{canvas.name},</if>
            <if test="canvas.category != null and canvas.category != ''">category = #{canvas.category},</if>
            <if test="canvas.smallImg != null and canvas.smallImg !=''">smallImg = #{canvas.smallImg},</if>
            <if test="canvas.price != null and canvas.price != ''">price = #{canvas.price},</if>
            <if test="canvas.createTime != null">createTime = #{canvas.createTime},</if>
            <if test="canvas.updateTime != null">updateTime = #{canvas.updateTime},</if>
            <if test="canvas.description != null and canvas.description != ''">description = #{canvas.description},</if>
            <if test="canvas.details != null and canvas.details != ''">details = #{canvas.details},</if>
        </set>
        WHERE id = #{canvas.id}
    </update>

    <sql id="canvasSql">
        name,category,smallImg,price,createTime,updateTime,description,creator,details
    </sql>

    <insert id="addCanvas" useGeneratedKeys="true" keyProperty="canvas.id">
        INSERT canvas(<include refid="canvasSql"></include>)
        VALUES(#{canvas.name}, #{canvas.category}, #{canvas.smallImg}, #{canvas.price},
        #{canvas.createTime}, #{canvas.updateTime}, #{canvas.description}, #{canvas.creator}, #{canvas.details})
    </insert>

    <delete id="deleteCanvas">
        DELETE FROM canvas WHERE id = #{id}
    </delete>
</mapper>
