<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
mapper 用于定义一个映射配置文件的根节点
namespace属性是用来配置命名空间，主要进行session级别的缓存管理
命名空间默认情况下，使用我们当前操作的实体类的全路径
-->
<mapper namespace="com.imooc.study.dao.CategoryDao">

    <select id="findCategories" resultType="com.imooc.study.entity.Category">
      SELECT * FROM canvascategory
      <if test="id != null">WHERE id = #{id}</if>
    </select>

    <insert id="addCategory" useGeneratedKeys="true" keyProperty="category.id">
        INSERT canvascategory(name, createTime, updateTime, description)
        VALUE(#{category.name}, #{category.createTime}, #{category.updateTime}, #{category.description})
    </insert>

    <update id="updateCategory">
        UPDATE canvascategory
        <set>
            <if test="category.name != null">name = #{category.name}</if>
            <if test="category.updateTime != null">updateTime = #{category.updateTime}</if>
            <if test="category.description != null">description = #{category.description}</if>
        </set>
        WHERE id = #{category.id}
    </update>

    <delete id="deleteCategory">
        DELETE FROM canvascategory WHERE id = #{id}
    </delete>

</mapper>
